

body  {
    margin : 0;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Top {
    padding: 50px 0 10px;
    background-color: #E69047;
    background-image: -webkit-linear-gradient(top,  #E69047, #E89954);
    background-image: -moz-linear-gradient(top,  #E69047, #E89954);
    background-image: -ms-linear-gradient(top,  #E69047, #E89954);
    background-image: -o-linear-gradient(top,  #E69047, #E89954);
    background-image: linear-gradient(to bottom,  #E69047, #E89954);
}
h1{

    font-family: Satisfy, sans-serif;
    font-size: 300%;
    color: #130A03;

}
h2{
        font-size: 1.5REM;
        color: #261405;
        font-weight: normal;
}
h3{
        color:  #261405;
}
hr {

    border-style:none;
    border-top-style: dotted;
    border-color: #d1d1d1;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}
p{
    line-height: 2rem;
}
ul{
    display:inline-block;
}

.Top-cloud {     
    display: inline-block;
    position: fixed;
    top: 200px;
    left: 10%;
    

}
.Bottom-cloud { 
    display: inline-block;
    position: fixed;
    top: 40px;
    right: 10%;
}


.pro_pic{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.intro{
    width: 30%;
    margin: auto;
}
.middle-container{
    Padding:100px 0;
    background-color: #E89954;
    background-image: -webkit-linear-gradient(top,  #E89954, #D0701C);
    background-image: -moz-linear-gradient(top,  #E89954, #D0701C);
    background-image: -ms-linear-gradient(top,  #E89954, #D0701C);
    background-image: -o-linear-gradient(top,  #E89954, #D0701C);
    background-image: linear-gradient(to bottom,  #E89954, #D0701C);
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    clear: both;

}
.sub_image1{
    width: 25%;
    float: left;
    margin-right: 10px;
}
.sub_image2{
    width: 25%;
    float: right;
    margin-left: 10px;
}

.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.contact-me{
    width:40%;
    margin: 40px auto 60px;
}
  .bottom-container{

    background-color: #D0701C;
    padding: 50px 0 10px;

  }
a{
    text-decoration: none;
}
.copywrite{
    font-size: 0.75REM;
}